/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #6a7279;
    background-color: #f2f5f7;
  }
  
  a {
    color: #2487ce;
  }
  
  a:hover {
    color: #469fdf;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  h5 {
    color: #f3525a;
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .section-title {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
  }
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .card {
    margin-bottom: 20px;
    width: fit-content;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
  }
  
  .team .card .card-img {
    position: relative;
    overflow: hidden;
  }
  
  .team .card .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
  }
  
  .team .card .social a {
    transition: color 0.3s;
    color: #124265;
    margin: 0 10px;
    padding-top: 8px;
    display: inline-block;
  }
  
  .team .card .social a:hover {
    color: #2487ce;
  }
  
  .team .card .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .team .card .card-body {
    padding: 15px 15px;
  }
  
  .team .card .card-body h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #124265;
  }
  
  .team .card .card-body span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #565872;
  }
  
  .team .card .card-body p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
  }
  
  .team .card:hover .social {
    opacity: 1;
  }



 